.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #946a4d;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.table-view .column-header-background {
    -fx-background-color: #f2e5d9;
    -fx-background-radius: 5px 5px 0 0;
    -fx-padding: 5px;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: #624832;
    -fx-font-weight: bold;
}

.table-view .table-cell {
    -fx-text-fill: #624832;
    -fx-padding: 5px;
}

.table-row-cell:odd {
    -fx-background-color: #f9f3ec;
}

.table-row-cell:even {
    -fx-background-color: #f2e5d9;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #d3b8a3;
    -fx-text-fill: white;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:horizontal {
    -fx-background-color: #f9f3ec;
}

.table-view .virtual-flow .scroll-bar .thumb {
    -fx-background-color: #946a4d;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 2;
}